/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
header{
    height: 50px;
    background-color: rgb(255,105,0);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 10px grey;
}

body{
    padding-top: 100px;
    font-family: sans-serif;
}

/* Utils */

.container{
    max-width: 900px;
    margin: 0 auto;
}

.flx{
    display: flex;
}

.flx.jst-center{
    justify-content: center;
}

.flx.al-center{
    align-items: center;
}

.logo img{
    max-height: 20px;
}

.font-size-sm{
    font-size: 10px;
}


.brd{
    border: 1px solid black;
}

/* Header */

.nav-bar{
    height: 100%;
}

.nav-bar > div{
    flex-basis: calc(100%/3);
}

.nav-bar ul{
    list-style-type: none;
    height: 100%;
    align-items: center;
}

.nav-bar li{
    font-size: 12px;
    padding-right: 5px;
    font-weight: 600;
    cursor: pointer;
}

.user-interaction{
    justify-content: flex-end;
}

.user-interaction i{
    padding-left: 7px;
    cursor: pointer;
}

/* Main */

.row{
    gap: 10px;
}
.column{
    flex-basis: calc(100%/3);
}

/* Card */

.card img{
    max-width: 100%;
    display: block;
}

.primary-pic{
    position: absolute;
}

.card:hover .primary-pic{
    z-index: -1;
}

.card{
    position: relative;
}

.add-like{
    height: 30px;
    width: 30px;
    font-size: 25px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
}

.add-like:hover{
    color: red;
    cursor: pointer;
}

.info{
    position: absolute;
    left: 0;
    bottom: 30px;
    /* z-index: 1; */
}

.info span{
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    font-size: 9px;
    color: white;
}

.discount{
    background-color: red;
}

.eco{
    background-color: green;
}

/* Info dress under pic */

.brand{
    text-transform: capitalize;
}

.dress-name{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.new-price{
    color: red;
    vertical-align: text-top;
    font-weight: 700;
}

.old-price{
    color: grey;
    vertical-align: text-top;
    text-decoration:line-through;
}

