/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
header{
    height: 50px;
    background-color: rgb(255,105,0);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    padding-top: 100px;
}

/* Header */